*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;

}

:root{
    --main-color:#e6e5e5;
    --second-color: #606161;
    --ali-color:#EA9C23;
    --trans: all 0.5s ease;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd{
    border: 1px solid rgb(40, 179, 214);
}
.margBtm{
    margin-bottom: 150px;
}
.fDirCol{
    flex-direction: column;
}

i {
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    margin-top: 30px;
    transition: var(--trans);
}
.fa-phone{
    cursor: pointer;
}


.container{
    margin-left: auto;      
    margin-right: auto;
    padding-right: 15px;    
    padding-left: 15px;

    /* border: 1px solid rgb(40, 179, 214); */
}


/* mob -----------------------------------------------------*/
@media (max-width: 767px)
{
    .container{width: 95%;} 
}
/* Small -----------------------------------------------------*/
@media (min-width: 768px)
{
    .container{width: 750px;}
}
/* Medium ----------------------------------------------------- */
@media (min-width: 992px)
{
    .container{width: 970px;}
}
/* Large -----------------------------------------------------*/
@media (min-width: 1200px)
{
    .container{width: 1170px;}
}
/*  -----------------------------------------------------*/

@media (min-width: 768px) {
    .toggle-menu {
    }
}


/* Start mop-Header ------------------------------------------------ */

@media (max-width: 767px) {
}








body{
    background-color: var(--main-color);
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;

}

nav{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: var(--second-color);
    color: var(--main-color);

    /* height: 50px; */
}


nav .container{
    justify-content: space-between;
}
nav .logo{
    min-width: 142px;    
    font-size: 1.2rem;
    font-weight: 800;
    margin: 5px ;
    margin-right:  20px ;
    line-height: 2.5rem;
    transition: var(--trans);

}
nav .logo:hover{
    /* letter-spacing: 2px; */
}

nav ul{
    min-width: 575px;    
    height: 100%;
    /* margin: auto; */
}
nav li{
    font-size: 1rem;
    font-weight: 600;
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    padding: 0 4px;
    color: var(--main-color);
    background-color: var(--second-color);
    transition: var(--trans);
}

nav li:hover
{
    background-color: var(--main-color);
    color: var(--second-color);
}


/* Start mop------- ------------------------------------------------ */
@media (max-width: 767px) {

    nav{
        height: 5rem;
        z-index: 100;
        /* right: 0; */

    }

    nav .mob {
        display: none;
    }
    nav .mob li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--trans);

    }


    nav .mobHide{
        display: block;
        position: fixed;
        left: 0;
        width: 100%;
        height: 0px;
        opacity: 0;
        top: 5rem;
        left: 0;
        z-index: 0;
        transition: var(--trans);
    }
    nav .mobHide li {
        width: 0%;
        font-size: 0px;
        opacity: inherit;
    }

    nav .mobShow {
        opacity: 1;
        height: 80px;
        transition: var(--trans);

    }

    nav .mobShow li {
        opacity: 1;
        width: 100%;
        font-size: 1rem;
    }



    nav .logo{
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {
.hamIcon{
    display: none;
}
}






section.landingPage,
section{
    min-height: 100vh;

}
.landing{
    min-height: calc( 100vh - 40px);
}


.landing .look{
    margin: 30px;
    padding: 20px;
    flex-direction: column;
}
.look img{
    width: 450px;
}


/* --------------------------------------------- */

.info .title{
    font-size: 2.5rem;
    font-weight: 800;
    padding-right: 10px;
    border-right: 3px solid var(--second-color);
}
.info .discretion{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}


.info .social{
    height: min-content;
    width: 100%;
    margin: 10px;
    margin-top: 30px;
    padding: 0;
}
.info .social i
{
    border-radius: 50%;
    color: var(--second-color);
    border: 3px solid var(--second-color);
    font-size: 2rem;
    margin: 0 15px;
    transition: var(--trans);
}
.info .social i:hover
{
    transform: scale(1.2);
    color: black;
    border-color: black;

}



/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media (max-width: 1199px)
    {
        .look img{
            width: 400px;
        }
        .info .title{
            font-size: 2rem;
        }
        .info .discretion{
            font-size: 1.2rem;
        }
        .info .social i{
            font-size: 1rem;
        }
    }

@media (max-width: 991px)
    {
        .look img{
            width: 300px;
        }
    }
@media (max-width: 767px)
    {
        .landing{
            flex-direction: column;
            justify-content: start;
        }
        .look img.big{
            display: none;
        }
        .look img.sml{
            margin-top: 100px;
            border-radius: 50%;
            border: 4px solid var(--second-color);
        }
    }

    @media (min-width: 768px )
    {
        .look img.sml{
            display: none;
        }
    }

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */






/* ------------------------------------------------------------- */

.headTitle{
    padding-top: 100px;
}
.headTitle img{
    height: 80px;
}
.headTitleLogo{
    width: 40px;
    display: flex;
}
.headTitle h2{
    font-size: 2.5rem;
    font-weight: 800;
    padding-right: 10px;
}

section{
    min-height: 100vh;
}



.educat .content{
    margin: auto;
    margin-top: 60px;
    width: 80%;
}
.educat .content p{
    border-right: 5px solid var(--second-color);
    padding-right: 10px;
    font-size: 2rem;
}






/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media (max-width: 1199px)
    {
        .headTitle img{
            height: 70px;
        }
        .headTitleLogo{
            width: 35px;
        }
        .headTitle h2{
            font-size: 2rem;
        }
            }

@media (max-width: 991px)
    {
        .headTitle img{
            height: 60px;
        }
        .headTitleLogo{
            width: 30px;
        }
        .headTitle h2{
            font-size: 2rem;
        }
    }
@media (max-width: 767px)
    {
        .headTitle img{
            height: 50px;
        }
        .headTitleLogo{
            width: 25px;
        }
        .headTitle h2{
            font-size: 1.8rem;
        }
        .educat .content p{
            border-right: 3px solid var(--second-color);
            padding-right: 7px;
            font-size: 1.3rem;
            font-weight: 600;
        }
        
    }


/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */



.odweat .fDirCol p{
    margin-bottom: 30px;
}
.odweat .fDirCol {
    align-items: flex-start;
}

footer{
    bottom: 0;
    left: 0%;
    width: 100%;
    background-color: var(--second-color);
    color: var(--main-color);
}

.info-container,
.copyrights-cont
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.info-container{
}
.info-container .socialContainer{
    
}
.info-container i{
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    margin-top: 30px;
    transition: var(--trans);
}
.info-container i:hover{
    transform: scale(1.2);
    border-radius: 5px;

    color: var(--second-color);
    background-color: var(--main-color);
}
.copyrights-cont{
    font-size: 1.2rem;
    font-weight: 500;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid var(--main-color);
}
.copyrights-cont span, .copyrights-cont a{
    color: #EA9C23;

}



/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media (max-width: 1199px)
    {
        footer h1{
            font-size: 2rem;
        }
        .info-container i{
            font-size: 1.7rem;
            margin: 18px;
            padding: 8px;
            margin-top: 20px;
        }
        .copyrights-cont{
            font-size: 1.1rem;
            margin-top: 15px;
            padding: 15px;
        }

        
    }

@media (max-width: 991px)
    {
        footer h1{
            font-size: 1.5rem;
        }
        .info-container i{
            font-size: 1.5rem;
            margin: 15px;
            padding: 6px;
            margin-top: 15px;
        }
        .copyrights-cont{
            font-size: 1.1rem;
            margin-top: 15px;
            padding: 15px;
        }
        
    }
@media (max-width: 767px)
    {
        footer h1{
            font-size: 1rem;
        }
        .info-container{
            flex-direction: column;
        }
        .info-container i{
            font-size: 1.2rem;
            margin: 12px;
            padding: 4px;
            margin-top: 10px;
        }
        .copyrights-cont{
            font-size: 1.0rem;
            margin-top: 10px;
            padding: 10px;
            flex-direction: column;
        }
        .separate{
            display: none;
        }


    }


/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

.goUp{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 50%;
    z-index: 100;
    transition: var(--trans);
    transform: scale(0);
  }
  .goUp i{
    font-size: 2.5rem;
    margin: 0;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--second-color);
    color: var(--main-color);
    transition: var(--trans);
  }
  .goUp i:hover {
    color: var(--second-color);
    background-color: var(--main-color);
  }
  .UpShow{
    transform: scale(1);
  }
  @media (max-width: 767px) {
    .goUp{right: 1rem;}
    .UpShow{transform: scale(0.8);}
  }
  